@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";  
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Roboto", "Tahoma", "sans-serif";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  width: 1440px;
  margin: 0 auto;
}

.main-header {  
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  width: 1440px;
  background-color: #eeeeee;
  padding-top: 50px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top {
  font-family: "Roboto Medium"; "Tahoma", "sans-serif";
  min-height: 65px;
  line-height: 30px;
}

.logo {
  float: left;
  width: 160px;
  margin-right: 200px;
  height: 65px;
}

.main-navigation {
  float: left;
  width: 440px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0; 
}

.main-navigation ul {
  margin-top: 25px;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 46px;
}

.main-navigation li:last-child {
  margin-right: 0px;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;  
}

.main-navigation a:hover {
  color: #f87478;
}

.user-block {
  float: right;
  max-width: 160px;
  margin-top: 25px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  padding-left: 41px;  
}

.user-block a {
  color: #000000;
  text-decoration: none;
}

.basket:hover {
  color: #f87f81;
}

.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png");
  background-repeat: no-repeat;  
  background-position: -10px -10px;
    
}

.header-content {
  height: 431px;
}

.slider {
    
  font-size: 0;
  position: relative;
}

.slider-info {
  position: relative;  
  font-size: 16px;
 }

.slider-info .slider-left {  
  position: absolute;  
  left: 0;
  top: 20px;
  width: 440px;
  z-index: 10;  
  padding-bottom: 80px;
}

.slider-title {
  font-family: "Roboto Medium"; "Tahoma", "sans-serif";
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 0;
  padding-top: 10px;
}

.slider-left p {   
  margin-top: 22px;
  margin-bottom: 41px;
  color: #283136;
}

.slider-left a {
  font-family: "Roboto Medium"; "Tahoma", "sans-serif";
  color: #ffffff;
  background-color: #fb565a;
  text-decoration: none;
  padding: 16px 54px;
  text-transform: uppercase; 
  line-height: 18px;
  border-radius: 2px; 
}

.slider-info img {
  position: absolute;
  right: 0;
  top: 0;
}

.slides-controls {
  position: absolute;  
  left: 535px;
  top: 315px;
  width: 110px;
  height: 18px;
 }

input[type="radio"] {  
  margin-right: 17px;
  width: 18px;
  height: 18px;  
}

.shape-field-1 {
    
}

.shape-field-2 {
    
}

.shape-field-3 {
    
}

.heading {
  margin-top: 6px;  
  font-family: "Roboto Medium"; "Tahoma", "sans-serif";
  font-weight: 500;
  padding-top: 70px;
  padding-bottom: 109px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
}

.main {
  background-color: #ffffff;
}

.options {
  min-height: 350px;
  padding-bottom: 80px;
  padding-top: 80px;
}

.options-item {
  width: 300px;
  margin-right: 96px;
  display: inline-block;
  vertical-align: top;
}

.options-item:last-child {
  margin-right: 0px;
}

.options-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 10px;
}

.options-item p {
  color: #283136;
  width: 250px;
  margin-bottom: 46px; 
}

.options-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 18px;
  padding: 16px 40px;
  border-radius: 2px;
}

.web {
  background-color: #fb565a;
}

.apps {
  background-color: #00ca74;
}

.presentations {
  background-color: #efc84a;
}

.dignitys {
  min-height: 530px;  
}

.dignitys-description-1 {
  float: left;
  width: 660px;    
}

.dignitys-description-1 h1 {
  font-family: "Roboto Medium"; "Tahoma", "sans-serif";
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 72px;
  margin-bottom: 34px; 
}

.dignitys-description-1 p {
  color: #283136;
  padding: 0;
  margin-bottom: 40px;   
}

.dignitys-description-1 h3 {
  text-transform: uppercase;    
}

.dignitys-description-1 ul {  
  padding: 0;
  margin: 0;   
}

.dignitys-description-1 li {
  color: #283136;
  position: relative;
  list-style-type: none; 
  margin-top: 25px;
  padding-left: 35px;
}

.dignitys-description-1 li::before {
  content: "";  
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 10px;
  left: 0;  
}

.dignitys-description-2 {
  float: right;
  width: 360px;   
}

.dignitys-description-2 img {
  margin-top: 40px;
  margin-bottom: 8px;
}

.dignitys-description-2 h3 { 
  text-transform: uppercase;
  text-align: center;
}

.dignitys-description-2 ul {
  width: 360px;
  height: 100px;
  padding: 0;    
}

.dignitys-description-2 li {
  color: #283136;
  line-height: 18px;
  list-style-type: none;
  display: inline-block; 
  vertical-align: top;
  width: 115px;  
}

.dignitys-description-2 span {
  display: block;
  font-size: 45px;
  line-height: 10,06px;
  margin-bottom: 27px; 
}

.clients-logotips {
  vertical-align: middle;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 80px;
}

.logotips-img1 {
  margin-left: 30px;
  margin-right: 93px;
}

.logotips-img2 {
  margin-right: 99px; 
}

.logotips-img3 {
  margin-right: 117px;
  margin-bottom: 15px;
}

.logotips-img4 {

}

.content-left {
  min-height: 775px;
  width: 260px;
  float: left;
}

.content-right {
  width: 760px;
  float: right;
}

.list {

}

.sort {

}

.catalog {
  width: 760px;
  margin-bottom: 20px;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 360px;
  min-height: 616px;
  vertical-align: top;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 16px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.paginator {

}

.main-footer {
  width: 1440px;
}

.footer-contacts {
  position: relative;
}

.contacts {
  top: 55px;
  left: 140px;
  position: absolute;
}

.footer-social {
  width: 1160px;
  margin: 0 auto;
}

.footer-social-left {
  float: left;
  width: 360px;
  min-height: 220px;
}

.footer-social-left ul {
  padding: 0;
  margin-top: 70px;
}

.social-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 11px;
  background: #e1e1e1; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
}

.social-list a {  
  background: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px; 
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; 
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.footer-social-left a {  
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-top: 58px; 
  text-decoration: none;
  background: #e1e1e1; 
  border-radius: 50%; 
}

.footer-social-left span {
  background: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;  
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}*/

a.social-logotip-1 {     
  background-position: -10px -221px;
}

a.social-logotip-2 { 
  background-position: -10px -256px;
}

a.social-logotip-3 { 
  background-position: -10px -298px;
}

.footer-social-right {
  float: right;
  width: 760px;
  font-size: 0;
}

.footer-social-right h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 68px;
}

.footer-social-right p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}

.popup {
  display: none;
}

.slide-2 {
  display: none;
}

.slide-3 {
  display: none;
}

.contacts {
  display: none;
}

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.modal-window {
  position: absolute;
  top: ;
  left: ;  
  display: none;
  width: 960px;
  padding: 60px 100px;
  margin-left: 240px;
  color: #000000;
  background: #ffffff;

.modal-window-show {
  display: block;
}
    
.modal-window-close {

}

/*
.sprite-basket {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-check {
    width: 27px;
    height: 23px;
    background-position: -10px -45px;
}

.sprite-check-1 {
    width: 23px;
    height: 23px;
    background-position: -10px -88px;
}

.sprite-point {
    width: 25px;
    height: 25px;
    background-position: -10px -131px;
}

.sprite-point-1 {
    width: 25px;
    height: 25px;
    background-position: -10px -176px;
}

.sprite-social-logotip-1 {
    width: 26px;
    height: 15px;
    background-position: -10px -221px;
}

.sprite-social-logotip-2 {
    width: 12px;
    height: 22px;
    background-position: -10px -256px;
}

.sprite-social-logotip-3 {
    width: 21px;
    height: 21px;
    background-position: -10px -298px;
}

.sprite-sort-down {
    width: 9px;
    height: 9px;
    background-position: -10px -339px;
}

.sprite-sort-up {
    width: 9px;
    height: 9px;
    background-position: -10px -368px;
}
*/