body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  width: 1440px;
  background-color: #eeeeee;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top {
  min-height: 115px;
}

.logo {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.main-navigation {
  float: left;
  width: 760px;
}

.navigation {
  display: inline-block;
}

.navigation li {
  display: inline-block;
}

.basket {
  float: right;
  width: 160px;
}

.header-content {

}

.slider {

}

.slider-info {
  padding-top: 80px;
  padding-bottom: 80px;
}

.slides-controls {

}

.slider-title {
  font-size: 55px;
  line-height: 55px;
}

.heading {
  margin-top: 80px;
  margin-bottom: 115px;
  text-align: center;
}

.main {
  background-color: #ffffff;
}

.options {
  min-height: 350px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.options-items {
  width: 300px;
  float: left;
  margin-right: 100px;
}

.options-item:last-child {
  margin-right: 0px;
}

.dignitys {
  min-height: 530px;
}

.dignitys-description-1 {
  float: left;
  width: 660px;
}

.dignitys-description-2 {
  float: right;
  width: 360px;
}

.clients-logotips {
  vertical-align: middle;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logotips-img1 {
  padding-right: 96px;
}

.logotips-img2 {
  padding-right: 103px;
}

.logotips-img3 {
  padding-right: 121px;
}

.logotips-img4 {

}

.main-footer {
  min-height: 635px;
}

.footer-contacts {

}

.contacts {
  top: 55px;
  left: 140px;
  position: absolute;
}

.footer-social {
  margin-top: 70px;
  margin-bottom: 70px;
}

.footer-social-left {
  float: left;
  width: 360px;
}

.footer-social-right {
  float: right;
  width: 780px;
}

.social-btn a {
  display: inline-block;
}

.popup {
  display: none;
}

.slide-2 {
  display: none;
}

.slide-3 {
  display: none;
}
