body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
}
